
.logo_text{
    color: black;
    text-decoration: none;
    font-family: cursive;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
}
.logo_text:hover{
    text-decoration:none;
    color:black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-links li a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

body{
    font-family: 'Roboto', sans-serif;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:none;
    height: 12vh;
    width:100%;
}
#menu{
    display: none;
}
.hamburger_menu{
  display: none;
}
.contact_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_info img{
  width:100%;
}
.Contact_heading{
  font-family: 'Nova Flat', cursive !important;
  text-align: center;
}
.query_form button{
    width:100%;
}
.nav-links{
    list-style: none;
    margin-top: 18px;
    display: flex;
    justify-content:space-between;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.nav-links a:hover{
    color: #71e0eb;
}
#aboutus{
    border-bottom: 2px solid rgb(105, 104, 104);
}
.footer{
    padding-top:30px;
    margin: auto;
    background:black;
}
.address{
    color: white;
    text-align: center;
    padding:20px 2px;
}
.address li{
    list-style: none;
}
.social-media i{
    padding-top: 30px;
    width:100px;
    height: 100px;
}
.contact-form{
    margin:30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
#query{
    margin:15px;
    visibility: hidden;
}
.recaptcha{
    display: flex;
    justify-content:center;
}
#about_heading{
    text-align:center;
    padding-top: 100px;
}
.about_info{
    display:flex;
    justify-content:center;
}
.about-section{
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
#about_img{
    border: 2px solid black;
    border-radius: 6px;
}
@media screen and (max-width:900px){
    body{
        margin:0;
    }
    .nav-links,#logo-text{
        display: none;
    }
    #menu{
      display: initial;
    }
    .header{
      display: flex;
      justify-content: space-between;
      background:transparent !important;
      box-shadow: none !important;
      padding:0;
      width:100%
    }
    #menu{
      width: 40px;
      height: 40px;
      align-items: center;
      text-align: center;
      padding: 0;
      background:white;
      border: none;
      border-radius:6px;
      z-index: 10;
    }
    #menu img{
      width: 100%;
      height: 100%;
    }
    .hamburger_menu{
      display:none;
      flex-direction: column;
      text-decoration: none;
      list-style:none;
      justify-content: space-around;
      align-items: center;
      font-size:45px;
      background:rgb(0,0,0,0.7);
      height: 100%;
      width:100%;
      position: fixed;
      z-index:10;
    }
    .hamburger_menu a{
      color: white;
      font-family: 'Nova Flat', cursive; 
      text-decoration:none;

    }
    .hamburger_menu a:hover{
        text-decoration:none;
    }
    .hamburger_menu a:focus{
      text-decoration:none;
    }
    button:focus {
      outline: none !important;
    }
    #hamburger_aboutus{
      border-bottom:4px solid grey;
    }
    
    body{
        width:100%;
    }
    
    .contact_info{
    display: flex;
    flex-direction: column;
    
    }
    .Contact_heading{
        font-size:50px;
        border-bottom: 4px solid white;
    }
        .form-row,.form_group{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap: 15px;
    }
    .social-media{
        display: flex;
        justify-content:space-around;
        padding:0;
    }
    .social-media i{
        padding:0;
        width:100%;
    }
    .query_form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .about-section{
        display: flex;
        flex-direction: column;
    }
    #about_img{
        width:100%;
    }
    
}