@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
.logo_text{
    color: black;
    text-decoration: none;
    font-family: cursive;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
}
.logo_text:hover{
    text-decoration:none;
    color:black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-links li a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

body{
    font-family: 'Roboto', sans-serif;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:none;
    height: 12vh;
}
.nav-links{
    list-style: none;
    margin-top: 18px;
    display: flex;
    justify-content:space-between;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.nav-links a:hover{
    color: #71e0eb;
}
#curve{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -10;
}
.login_image{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height: 100vh;
}
#login_image{
    width:100%;
}
#login_text{
    text-align:center;
}
.login-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.member_form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 50px;
}
.footer{
    padding-top:40px;
    margin: auto;
    background:black;
}
.address{
    color: white;
    text-align: center;
    padding:20px 2px;
}
.address li{
    list-style: none;
}
.social-media i{
    padding-top: 30px;
    width:100px;
    height: 100px;
}
.contact-form{
    margin:30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
#query{
    margin:15px;
    visibility: hidden;
}
.recaptcha{
    display: flex;
    justify-content:center;
}
.join_now{
    background:rgba(187, 197, 199,0.25);
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    border-radius:20px;
    box-shadow:3px 2px 2px 2px rgb(158, 158, 158);
    margin-right:10px;
    padding: 15px 0;
    font-family: 'Jura', sans-serif;

}
.join_now input{
    margin:10px;
}
.join_now button{
    margin-top:20px;
}
#join_heading{
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
}
.select,.text_area{
    margin:10px 0;
}
.robot_design_mobile,.robot_design_mobile #workshop_img{
    display:none;
}
#robot_designing{
    display: none;
}
.mission_mobile{
    display: none;
}
.works_mobile{
    display: none;
}
#menu{
    display: none;
}
.hamburger_menu{
  display: none;
}
.contact_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_info img{
  width:100%;
}
.Contact_heading{
  font-family: 'Nova Flat', cursive !important;
  text-align: center;
}
#club_name{
    display: none;
}
.form-row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.form-row .form-group{
    width: 100%;
}
.form_group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (max-width:900px){
    body{
        margin:0;
    }
    .nav-links,#logo-text{
        display: none;
    }
    #menu{
      display: initial;
    }
    .header{
      display: flex;
      justify-content: space-between;
      background:transparent !important;
      box-shadow: none !important;
    }
    #menu{
      width: 40px;
      height: 40px;
      align-items: center;
      text-align: center;
      padding: 0;
      background:white;
      border: none;
      border-radius:6px;
      z-index: 10;
    }
    #menu img{
      width: 100%;
      height: 100%;
    }
    .hamburger_menu{
      display:none;
      flex-direction: column;
      text-decoration: none;
      list-style:none;
      justify-content: space-around;
      align-items: center;
      font-size:45px;
      background:rgb(0,0,0,0.7);
      height: 100%;
      width:100%;
      position: fixed;
      z-index:10;
    }
    .hamburger_menu a{
      color: white;
      font-family: 'Nova Flat', cursive; 
      text-decoration:none;

    }
    .hamburger_menu a:hover{
        text-decoration:none;
    }
    .hamburger_menu a:focus{
      text-decoration:none;
    }
    button:focus {
      outline: none !important;
    }
    #hamburger_events{
      border-bottom:4px solid grey;
    }
    #curve{
        display: none;
    }
    .login_image{
        display: none;
    }
   .member_form{
       display:flex;
       justify-content:center;
       width:100%;
       margin:0;
   }
   .login-content{
       display: initial;
   }
   .join_now{
       background:none;
       box-shadow: none;
   }
   .header{
       padding:0;
       display:flex;
   }
   #club_name{
       text-align: center;
       display: flex;
       justify-content:center;
   }
   #join_heading{
       font-size: 56px;
   }
   .contact_info{
    display: flex;
    flex-direction: column;
    
  }
  .Contact_heading{
      font-size:50px;
      border-bottom: 4px solid white;
  }
    .form-row,.form_group{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      gap: 15px;
  }
  .social-media{
        display: flex;
        justify-content:space-around;
    }
    .query_form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
