@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
body{
    background-color: black;
}
.logo_text{
    color: black;
    text-decoration: none;
    font-family: cursive;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
}
.logo_text:hover{
    text-decoration:none;
    color:black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-links li a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

body{
    font-family: 'Roboto', sans-serif;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:none;
    height: 12vh;
    width:100%;
}
#menu{
    display: none;
}
.hamburger_menu{
  display: none;
}
.contact_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_info img{
  width:100%;
}
.Contact_heading{
  font-family: 'Nova Flat', cursive !important;
  text-align: center;
}
.query_form button{
    width:100%;
}
.nav-links{
    list-style: none;
    margin-top: 18px;
    display: flex;
    justify-content:space-between;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.nav-links a:hover{
    color: #71e0eb;
}
#team{
    border-bottom: 2px solid rgb(105, 104, 104);
}
.footer{
    padding-top:30px;
    margin: auto;
    background:black;
}
.address{
    color: white;
    text-align: center;
    padding:20px 2px;
}
.address li{
    list-style: none;
}
.social-media i{
    padding-top: 30px;
    width:100px;
    height: 100px;
}
.contact-form{
    margin:30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
#query{
    margin:15px;
    visibility: hidden;
}
.recaptcha{
    display: flex;
    justify-content:center;
}
.robot_design_mobile,.robot_design_mobile #workshop_img{
    display:none;
}
#robot_designing{
    display: none;
}
.mission_mobile{
    display: none;
}
.works_mobile{
    display: none;
}
#menu{
    display: none;
}
.hamburger_menu{
  display: none;
}
.contact_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_info img{
  width:100%;
}
.Contact_heading{
  font-family: 'Nova Flat', cursive !important;
  text-align: center;
}
.query_form button{
    width:100%;
}
.phoenix-text img{
    margin: 0;
    padding: 0;
    width: 100vh;

}
.team_intro{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}
.phoenix-text{
    display:flex;
    justify-content: center;
}
.team-header{
    display:flex;
    justify-content: space-around;
    
}

.team-title h1{
    text-align: center;
    color:white;
    cursor: default;
}
.team_title{
    text-align: center;
}
.mentor_profile{
    display:flex;
    justify-content:center;
    margin: 20px 20px;
    
}
.mentor_profile img{
    border: 4px solid black;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
  
    
}
.mentor_profile-text:hover{
    color: blueviolet;
    cursor: default;
}
.mentor_profile img:hover{
    border-color: blueviolet;
}
.mentor_profile-text{
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
}
.Team{
    background:black;
    padding-top: 40px;
}
.profile-img{
    display:flex;
    justify-content:center;
    margin: 20px 20px;
    padding:20px 20px;
    
}
.profile img{
    border: 4px solid white;
    width: 40vh;
    height: 40vh;
    border-radius: 200px;
    background:grey;
    
}
.profile-text{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Russo One', sans-serif;

}
.vice-president{
    display:flex;
    justify-content:space-around;
    
}
.profile-text li{
    list-style: none;

}
.board-members{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    
}
.profile img:hover{
    border-color: aqua;
}
.profile-text:hover{
    color: aqua;
    cursor: default;
}
.team_intro{
    display:flex;
    flex-direction: column;
}
.team-header{
    margin-top: 100px;
}
.founder_info li{
    color:black;
}
.founder_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.founder_info .profile{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.founder h1{
    text-align: center;
}
@media screen and (max-width:900px){
    body{
        margin:0;
    }
    .nav-links,#logo-text{
        display: none;
    }
    #menu{
      display: initial;
    }
    .header{
      display: flex;
      justify-content: space-between;
      background:transparent !important;
      box-shadow: none !important;
      padding:0;
      width:100%
    }
    #menu{
      width: 40px;
      height: 40px;
      align-items: center;
      text-align: center;
      padding: 0;
      background:white;
      border: none;
      border-radius:6px;
      z-index: 10;
    }
    #menu img{
      width: 100%;
      height: 100%;
    }
    .hamburger_menu{
      display:none;
      flex-direction: column;
      text-decoration: none;
      list-style:none;
      justify-content: space-around;
      align-items: center;
      font-size:45px;
      background:rgb(0,0,0,0.7);
      height: 100%;
      width:100%;
      position: fixed;
      z-index:10;
    }
    .hamburger_menu a{
      color: white;
      font-family: 'Nova Flat', cursive; 
      text-decoration:none;

    }
    .hamburger_menu a:hover{
        text-decoration:none;
    }
    .hamburger_menu a:focus{
      text-decoration:none;
    }
    button:focus {
      outline: none !important;
    }
    #hamburger_team{
      border-bottom:4px solid grey;
    }
    .profile img{
        border: 4px solid white;
        width: 100%;
        height: auto;
        border-radius: 200px;
        background:grey;
        
    }
    .profile-text{
        color: white;
        text-align: center;
        font-size: 18px;
        font-family: 'Russo One', sans-serif;
    
    }
    .mentor_profile{
        display:flex;
        justify-content:center;
        
    }
    .mentor_profile img{
        border: 4px solid black;
        width: 60%;
        height: 100%;
        border-radius: 200px;
      
        
    }
    .mentor_profile-text{
        text-align: center;
        font-size: 18px;
        font-family: 'Russo One', sans-serif;
    }
    .president img{
        width:60%;
    }
    .board-members{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .profile{
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .team{
        width:100%;
    }
    body{
        width:100%;
    }
    .team_intro{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .team-header{
        display:flex;
        justify-content:space-around;
        margin:0;
    }
    .team-header img{
        width:100%;
    }
    .phoenix-text{
        display:flex;
        justify-content:center;
        width:100%;

    }
    .phoenix-text img{
        width:100%;
    }
    .contact_info{
    display: flex;
    flex-direction: column;
    
    }
    .Contact_heading{
        font-size:50px;
        border-bottom: 4px solid white;
    }
        .form-row,.form_group{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap: 15px;
    }
    .social-media{
        display: flex;
        justify-content:space-around;
        padding:0;
    }
    .social-media i{
        padding:0;
        width:100%;
    }
    .query_form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .Team{
        border-bottom:3px solid white;
    }
    
}